@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: black;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.heading {
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
    color: var(--text-color);
}
.h2 span {
    color:#00abf0;
}

.qr-code-generator,
.result-container {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.qr-form,
.result-content {
    max-width: 60rem;
    text-align: center;
}

.input-box {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.input-field {
    position: relative;
}

.input-field input {
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;
    border: 1px solid var(--text-color);
    border-radius: 0.5rem;
    background: transparent;
    color: var(--text-color);
}

.btn-box {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    position: relative;
}

.btn {
    padding: 1.5rem 3rem;
    background: var(--main-color);
    color: var(--bg-color);
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    border: 0.2rem solid var(--main-color);
    border-radius: 0.8rem;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: 0.3s;
}

.btn:hover {
    background: #007bb5; /* Darker shade on hover */
}

.result-content img {
    position: relative;
    margin-top: 2rem;
    margin-bottom: 2rem;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 40rem;
    height: 40rem;
}
